
@{
    ViewData["Title"] = "Sobre";
}

<h1>@ViewData["Title"]</h1>

<h4> MCS( Material Control System)</h4>

<p> Sistema de controle de materiais</p>
<div>
    <label>Desenvolvido por:</label> Marcio da Silva Santos.
</div>
